.feed-container {
    margin-left: 320px;
    width: 1250px;
    color: black;
}

.default-message {
    color: #19223F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
    left: 30%;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
}
