.feed-container {
    margin-left: 320px;
    width: 1250px;
    color: black;
}

.posts-default-message {
    color: #19223F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    padding-top: 10%;
    padding-left: 10%;
}
