.song-container {
    display: flex;
    flex-direction: row;
    padding: 16px;
    border-bottom: 1px solid #19223F;
    width: 884px;
    align-items: center;
    cursor: pointer;
}

.song-image{
    border-radius: 8px;
}

.song-basic {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.song-title {
    padding-left: 16px;
}

.song-item {
    flex: 1;
    text-align: center;
    font-size: larger;
}

.song-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}