.default-message {
    color: #19223F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
    left: 30%;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
}