.music-player{
    color: black;
    width: 27rem;
    position: fixed;
    margin-top: 3rem;
    top: 0;
    right: 0;
}

.player-wrapper{
    border-radius: 1rem;
    width: fit-content;
    position: fixed;
    display: flex;
    flex-direction: row;
}

.player {
    align-self: center;
}