.music-player{
    color: black;
    width: 27rem;
    position: fixed;
    top: 0;
    right: 0;
}

.player-wrapper{
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 350px;
    transform: translate(3%, 1%);
    padding-top: 100%; 
    border: none;
}

.responsive-iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bib-content-container {
    margin-top: 16px;
}