.bib-screen-container {
    margin-left: 320px;
    width: 900px;
    padding-left: 32px;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.bib-header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}