.button1{
    background-color: #F59320;
    border-style: none;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
}

.div-generic{
    border-color: #E6E8E6;
    border-style: solid;
    border-width: thin;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    font-family: "Roboto Thin", sans-serif;
    height: 12rem;
    overflow: hidden;
    width: 48rem;
}
.general{
    font-family: "Roboto Thin", sans-serif;
    font-size: 2.5rem;
    height: 5rem;
    margin:1rem;
    width: 5rem;
}

.round{
    border-radius: 2.5rem;

}

.with-text{
    display: inline-block;
    text-align: center;
    width: fit-content;
}

.header{
    color: black;
    font-weight: bold;
    padding-top: 2rem;
    padding-left: 2rem;
    width: 20rem;
}

.info{
    color: black;
    width: 24rem;
}

.text{
    padding-top:1rem;
    padding-left: 2rem;
}

.footer{
    color: #F59320;
    display: flex;
    flex-direction: row;
    font-size: smaller;
    margin-top: 4rem;
    padding-left: 2rem;
}

.share{
    margin-left: 2rem;
}

.content{
    background-color: #E6E8E6;
    text-align: center;
    width: 16rem;
}

.user{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 8rem;
}

.photo{
    background-color: #E6E8E6;
    height: 4rem;
    width: 4rem;

}

.search{
    margin-top: 2rem;
    width: fit-content;
    border-style: solid;
    border-width: 1px;
    border-right-width: 0px;
    background-color: #E6E8E6;
}

.searchBar{
    background-color: #E6E8E6;
    border-style: none;
}

.searchLabel{
    background-color: #E6E8E6;
    color: #19223F;

}

.textboxes{
    display: flex;
    flex-direction: column;
    font-family: "Roboto Thin", sans-serif;
    margin-top: 2rem;
}

.container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #19223F;
}

.container2:hover input ~ .checkmark {
    background-color: #F59320;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container2 input:checked ~ .checkmark:after {
    display: block;
}

.container2 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.dropbtn {
    background-color: #19223F;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: "Roboto Thin", sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #F59320;
}